-- MySQL용 초기화 스크립트
CREATE DATABASE IF NOT EXISTS churn_analysis;
USE churn_analysis;

-- 이벤트 테이블
CREATE TABLE IF NOT EXISTS events (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_hash VARCHAR(255) NOT NULL,
    created_at DATETIME NOT NULL,
    action VARCHAR(50) NOT NULL,
    gender VARCHAR(10),
    age_band VARCHAR(20),
    channel VARCHAR(20),
    INDEX idx_user_hash (user_hash),
    INDEX idx_created_at (created_at),
    INDEX idx_action (action)
);

-- 사용자 테이블
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_hash VARCHAR(255) UNIQUE NOT NULL,
    first_seen DATETIME,
    last_seen DATETIME,
    total_events INT DEFAULT 0,
    INDEX idx_user_hash (user_hash)
);

-- 월별 메트릭 테이블
CREATE TABLE IF NOT EXISTS monthly_metrics (
    id INT AUTO_INCREMENT PRIMARY KEY,
    month VARCHAR(7) NOT NULL,
    active_users INT,
    churned_users INT,
    reactivated_users INT,
    long_term_inactive INT,
    churn_rate DECIMAL(5,2),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE KEY unique_month (month)
);

-- 사용자 세그먼트 테이블
CREATE TABLE IF NOT EXISTS user_segments (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_hash VARCHAR(255) NOT NULL,
    month VARCHAR(7) NOT NULL,
    gender VARCHAR(10),
    age_band VARCHAR(20),
    channel VARCHAR(20),
    is_active BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_user_month (user_hash, month),
    INDEX idx_month (month)
);

-- 분석 결과 테이블
CREATE TABLE IF NOT EXISTS churn_analyses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    analysis_date DATETIME NOT NULL,
    start_month VARCHAR(7),
    end_month VARCHAR(7),
    total_churn_rate DECIMAL(5,2),
    active_users INT,
    churned_users INT,
    reactivated_users INT,
    long_term_inactive INT,
    analysis_config JSON,
    results JSON,
    execution_time_seconds DECIMAL(10,3),
    status VARCHAR(20),
    error_message TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);